DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB?sslmode=require"
AUTH_SECRET="cambiar-por-un-secret-largo"
AUTH_URL="http://localhost:3000"
SEED_ADMIN_EMAIL="admin@tgr.local"
SEED_ADMIN_PASSWORD="Admin123!"
COMPANY_EMAIL="tgrelectricidad@gmail.com"
COMPANY_PHONE="03476-15693368"
COMPANY_SITE="www.tgr-electricidad.com"
